<html class="no-js" lang="" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Админка</title>
    <meta name="description" content="админка">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
    <script src="https://kit.fontawesome.com/4a23243fb41.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- Главный контейнер -->
<div class="container">

    <!-- Заголовок -->
    <header class="dashboard-header">
        <h1 class="dashboard-header__logo">Панель Администратора</h1>
    </header>
    <nav class="sidebar-menu" th:insert="fragment :: LeftMenuFragment"></nav>
    <!-- Левое меню -->

    <!-- Главный контент -->
    <main class="main-content">
        <div class="wrapper">
            <div class="tabs">
                <div class="tab">
                    <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                    <label for="tab-1" class="tab-label">Сотрудник</label>
                    <div class="tab-content">
                        <form action="/Addemployee" th:object="${user}" method="post">
                            <label>
                                <a>Фамилия:</a>
                                <input th:field="*{surname}" name="surname" type="text" placeholder="Фамилия" style="margin:10px" minlength="30"><br>

                                <a>Имя:</a>
                                <input th:field="*{name}" name="name" type="text" placeholder="Имя" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></div><br>
                                <a>Отчество:</a>
                                <input th:field="*{middleName}" name="middleName" type="text" placeholder="Отчество" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}" style="color: red"></div><br>
                                <a>Номер паспорта:</a>
                                <input th:field="*{number_passport}" name="number_passport" type="text" min="1" max="100" placeholder="Серия/номер паспорта" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('number_passport')}" th:errors="*{number_passport}" style="color: red"></div><br>
                                <a>Серия паспорта:</a>
                                <input th:field="*{serial_passport}" name="serial_passport" type="text" min="1" max="100" placeholder="Серия/номер паспорта" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('serial_passport')}" th:errors="*{serial_passport}" style="color: red"></div><br>
                                <a>Дата рождения:</a>
                                <input th:field="*{birthday}" name="birthday" type="text" placeholder="гггг-мм-дд" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" style="color: red"></div><br>
                                <a>Телефон:</a>
                                <input th:field="*{phone}" name="phone" type="text" placeholder="+8(999)999-99-99" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red"></div><br>
                                <a>Логин:</a>
                                <input th:field="*{username}" name="username" type="text" placeholder="логин" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red"></div><br>
                                <a>Пароль:</a>
                                <input th:field="*{password}" name="password" type="password" placeholder="пароль" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></div><br>

                                <input value="1" style="visibility:hidden" name="add"><br>
                                <input class="btn" type="submit" value="Добавить сотрудника" style="background:LightGreen; margin: 10px">
                            </label>
                        </form>
                    </div>
                </div>
                <div class="tab">
                    <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                    <label for="tab-2" class="tab-label">Клиент</label>
                    <div class="tab-content">
                        <form action="/Adduser" th:object="${user}" method="post">
                            <label>

                                <input th:field="*{surname}" name="surname" type="text" placeholder="Фамилия" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" style="color: red"></div><br>

                                <input th:field="*{name}" name="name" type="text" placeholder="Имя" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></div><br>

                                <input th:field="*{middleName}" name="middleName" type="text" placeholder="Отчество" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}" style="color: red"></div><br>

                                <input th:field="*{number_passport}" name="number_passport" type="text" placeholder="Серия/номер паспорта" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('number_passport')}" th:errors="*{number_passport}" style="color: red"></div><br>

                                <input th:field="*{serial_passport}" name="serial_passport" type="text" placeholder="Серия/номер паспорта" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('serial_passport')}" th:errors="*{serial_passport}" style="color: red"></div><br>

                                <input th:field="*{birthday}" name="birthday" type="text" placeholder="гггг-мм-дд" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" style="color: red"></div><br>

                                <input th:field="*{phone}" name="phone" type="text" placeholder="гггг-мм-дд" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red"></div><br>

                                <input th:field="*{username}" name="username" type="text" placeholder="гггг-мм-дд" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red"></div><br>

                                <input th:field="*{password}" name="password" type="password" placeholder="гггг-мм-дд" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></div><br>

                                <input value="2" style="visibility:hidden" name="add"><br>
                                <input class="btn" type="submit" value="Добавить клиента" style="background:LightGreen; margin: 10px">
                            </label>
                        </form>
                    </div>
                </div>
                <div class="tab">
                    <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
                    <label for="tab-3" class="tab-label">Книга</label>
                    <div class="tab-content">
                        <form action="/Addbooks" th:object="${books}" method="post">
                            <label>

                                <input th:field="*{genre}" name="surname" type="text" placeholder="Фамилия" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('genre')}" th:errors="*{surname}" style="color: red"></div><br>

                                <input th:field="*{namebooks}" name="namebooks" type="text" placeholder="Имя" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('namebooks')}" th:errors="*{namebooks}" style="color: red"></div><br>

                                <input th:field="*{yearrelese}" name="yearrelese" type="text" placeholder="Отчество" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('yearrelese')}" th:errors="*{yearrelese}" style="color: red"></div><br>

                                <input th:field="*{author}" name="author" type="text" placeholder="Серия/номер паспорта" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color: red"></div><br>

                                <input value="3" style="visibility:hidden" name="add"><br>
                                <input class="btn" type="submit" value="Добавить книгу" style="background:LightGreen; margin: 10px">
                            </label>
                        </form>
                    </div>
                </div>
                <div class="tab">
                    <input type="radio" name="css-tabs" id="tab-4" class="tab-switch">
                    <label for="tab-4" class="tab-label">Поставщик</label>
                    <div class="tab-content">
                        <form action="/Addprovider" th:object="${provider}" method="post">
                            <label>

                                <input th:field="*{nameprovider}" name="nameprovider" type="text" placeholder="Наименование поставщика" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('nameprovider')}" th:errors="*{nameprovider}" style="color: red"></div><br>

                                <input th:field="*{phone}" name="phone" type="text" placeholder="Телефон" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red"></div><br>

                                <input th:field="*{address}" name="address" type="text" placeholder="Адрес" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red"></div><br>

                                <input value="3" style="visibility:hidden" name="add"><br>
                                <input class="btn" type="submit" value="Добавить поставщика" style="background:LightGreen; margin: 10px">
                            </label>
                        </form>
                    </div>
                </div>
                <div class="tab">
                    <input type="radio" name="css-tabs" id="tab-5" class="tab-switch">
                    <label for="tab-5" class="tab-label">Абонимент</label>
                    <div class="tab-content">
                        <form action="/Addmembership" th:object="${membership}" method="post">
                            <label>

                                <input th:field="*{period}" name="period" type="text" placeholder="Наименование поставщика" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('period')}" th:errors="*{period}" style="color: red"></div><br>

                                <input th:field="*{price}" name="price" type="text" placeholder="Телефон" style="margin:10px"><br>
                                <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red"></div><br>

                                <input value="3" style="visibility:hidden" name="add"><br>
                                <input class="btn" type="submit" value="Добавить абонимент" style="background:LightGreen; margin: 10px">
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </main>


</div>
</body>
</html>