<!DOCTYPE html>
<html lang="en">

<nav class="sidebar-menu" th:fragment="LeftMenuFragment">
    <ul class="sidebar-menu__items">
        <li class="sidebar-menu__item">
            <a href="/" class="sidebar-menu__item-title">
                <span>Изменить</span>
                <i class="fas fa-caret-down"></i>
            </a>
        </li>

        <li class="sidebar-menu__item">
            <a href="/Add" class="sidebar-menu__item-title">
                <span>Добавить</span>
                <i class="fas fa-caret-down"></i>
            </a>
            <ul class="sidebar-menu__subitems">
                <li class="sidebar-menu__subitem">
                    <a href="/OrderCreate">
                        <i class="fas fa-database"></i>
                        <span>Заказать книги</span>
                    </a>
                    </a>
                </li>
                <li class="sidebar-menu__subitem">
                    <a href="/AddMeembershipUser">
                        <i class="fas fa-user-friends"></i>
                        <span>Выдать пользователю абонимент</span>
                    </a>
                </li>
                <li class="sidebar-menu__subitem">
                    <a href="/AddBookUser">
                        <i class="fas fa-comment-alt"></i>
                        <span>Выдать пользователю книгу</span>
                    </a>
                </li>

            </ul>
        </li>
        <li class="sidebar-menu__item">
            <a href="/" class="sidebar-menu__item-title">
                <span>Изменить</span>
                <i class="fas fa-caret-down"></i>
            </a>
        </li>
        <li class="sidebar-menu__item">
            <a href="/" class="sidebar-menu__item-title">
                <span>Просмотр статистики</span>
                <i class="fas fa-caret-down"></i>
            </a>
        </li>
        <li class="sidebar-menu__item">
            <a href="/" class="sidebar-menu__item-title">
                <span>Удаление данных</span>
                <i class="fas fa-caret-down"></i>
            </a>
        </li>
    </ul>
</nav>


</html>