<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <title>Админка</title>
    <link rel="stylesheet" type="text/css" href="main_login.css">
</head>

</html>
<div class="main" style="height:500px">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">

        <form th:action="@{/login}" method="post">
        <label for="chk" aria-hidden="true">Авторизация</label>
            <label th:if="${param.error}" style="color: red;font-size:14px">
                Неверный логин или пароль.
            </label>
            <label th:if="${param.logout}" style="color: red;font-size:14px">
                <a>Вы уже авторизованы.
            </label>
            <input type="text" name="username" placeholder="Пароль"/>
            <input type="password" name="password" placeholder="Пароль">
            <input class="button" type="submit" value="Sign In"/>
        </form>
            <a type="button" href="/registration" style="text-align:center;top:50%" class="button">Регистрация</a>
        </div>
    </div>
</div>
</body>








